# compilation of llvm
bin/
lib/
llvm/

# compressed file
*tgz
*zip
*tar
*.tar.xz

# Compiler executable
uscc/bin/uscc

# System and editor files
.DS_Store
.gdb_history
*.swp
*.swo
*~

# Build related files
*.o
*.so
*.a
*.bc
*.d

# Temporary and log files
*.log
*.tmp
*.temp